<%= render partial: 'player_controls' %>

<% @video_libraries.each do |library, files| %>
  <div class='library'>
    <b><%= library %></b>
    <ol>
      <% files.each do |file| %>
      <li>
        <%= link_to trim_path(library, file), launch_player_path(video: file), remote: true %>
      </li>
      <% end %>
    </ol>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    players.init();
  });
</script>
